# Ignora i file di cache Python
__pycache__/
*.pyc
*.pyo

# Ignora i file generati automaticamente
build/
install/
log/
sys
GPIO

src/sentinel_base/sentinel_base/external_modules/RPi/_GPIO.cpython-*.so

client/venv/
venv
venv/lib/
